html {
  height: 100%;
  width: 100%;
  body {
  padding: 0px;
  margin: 0px;
  color: white;
  background-color: #4A412A;
.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
}
a {
  color: white
}
h1{
  margin: 0px;
  padding-left: 5px;
  padding-top: 10px;
  font-style: italic;
  height: 50px;
}
h2{
  margin: 0px;
  padding-left: 10px;
}
h3{
  padding-left: 10px;
  margin: 0px;
}
p{
  padding: 0px;
  margin: 0px;
}
.top{
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 0px;
  background-color: #9F9A8F;
  height: auto;
  line-height: 25px;
}
.container{
  height: auto;
  position: relative;
  background-color: #9F9A8F;
}
.greebles{
  margin: 0px;
  background-color: #9F9A8F;
  height: auto;
  line-height: 20px;
  padding-top: 20px;
  font-size: 20pt;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.tools{
  margin: 0px;
  padding: 5px;
  font-size: 15pt;
  background-color: #68604d;
}
.ingred{
  margin: 0px;
  padding: 5px;
  font-size: 15pt;
  background-color: #68604d;
}
.direc{
  margin: 0px;
  padding: 5px;
  font-size: 15pt;
  background-color: #68604d;
}
figure{
  margin: 0px;
}
hr{
  background-color: #9F9A8F;
  height: 20;
}
form{
  padding-left: 15px;
}
.lbr{
  display: block;
  margin: 40px;
}
.conv{
  margin-bottom: 150px;
}
}