html {
  height: 100%;
  width: 100%;
  body {
  padding: 0px;
  margin: 0px;
  color: white;
  background-color: #4A412A;
}
a {
  color: white
}
h1{
  margin: 0px;
  padding-left: 5px;
  padding-top: 10px;
  font-style: italic;
  height: 50px;
}
h2{
  margin: 0px;
  padding-left: 10px;
}
h3{
  padding-left: 10px;
  margin: 0px;
}
p{
  padding: 0px;
  margin: 0px;
}
.sec1{
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 0px;
  background-color: #9F9A8F;
  height: auto;
  line-height: 15px;
}
.greebles{
  margin: 0px;
  background-color: #9F9A8F;
  height: auto;
  line-height: 15px;
  padding: 0;
}
.sec3{
  margin: 0px;
  padding: 5px;
}
figure{
  margin: 0px;
}
hr{
  background-color: #9F9A8F;
  height: 20;
}
form{
  padding-left: 15px;
}

}